<!--
 * @Descripttion: 批量导入
 * @Author: chenpei<chenpei@asiainfo.com>
 * @Date: 2020-04-16 15:34:27
 * @LastEditTime: 2020-04-20 20:53:37
 -->

<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<head th:include="include :: header"></head>
<style>
  .layui-input-block {
    margin-left: 0;
    display: inline-block;
    width: 70%;
  }

  .layui-btn,
  .layui-form-item .layui-inline {
    margin-bottom: 2px;
  }
</style>

<body class="gray-bg">
  <div class="container-div ui-layout-center">
    <div class="row">
      <div class="col-sm-12 search-collapse">
        <form class="layui-form importForm">
          <div class="layui-form-item">
            <label class="layui-form-label">资产类型:</label>
            <div class="layui-input-block">
              <select name="model" id="model">
                <option>--请选择--</option>
                <option value="all">--所有--</option>
                <option value="systemInfo">系统</option>
                <option value="databaseInfo">数据库</option>
                <option value="tableInfo">表</option>
                <option value="tableFiledInfo">字段</option>
                <option value="fileInfo">文件</option>
                <option value="introductionInfo">接口</option>
                <option value="extraDataInfo">外部数据</option>
              </select>
            </div>
            <button type="button" class="layui-btn" onclick="batchImport.downloadTmp()">模板下载</button>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">上传文件:</label>
            <div class="layui-input-block">
              <input name="flie" type="text" class="layui-input checkFile" placeholder="请选择文件" readonly>
            </div>
            <div class="layui-inline">
              <button type="button" class="layui-btn layui-btn-normal" id="chosseFile">选择文件</button>
              <button type="button" class="layui-btn" id="uploadFile">开始上传</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-12 select-table table-striped">
        <table id="importTable"></table>
      </div>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:src="@{/js/manage/batchImport.js}"></script>
</body>

</html>