<!--
 * @Descripttion: 字段管理页
 * @Author: chenpei<chenpei@asiainfo.com>
 * @Date: 2020-04-17 10:39:36
 * @LastEditTime: 2020-04-17 14:27:18
 -->

<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="gray-bg">
  <div class="container-div ui-layout-center">
    <div class="row">
      <div class="col-sm-12 search-collapse">
        <form class="layui-form">
          <div class="layui-inline">
            <label class="layui-form-label">表名:</label>
            <div class="layui-input-inline">
              <input name="" type="text" class="layui-input" placeholder="请输入">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">字段名:</label>
            <div class="layui-input-inline">
              <input name="" type="text" class="layui-input" placeholder="请输入">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">字段类型:</label>
            <div class="layui-input-inline">
              <select name="">
                <option>全部</option>
                <option>字符串</option>
                <option>数值</option>
                <option>时间</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">是否主键:</label>
            <div class="layui-input-inline">
              <select name="">
                <option>全部</option>
                <option>是</option>
                <option>否</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">资产状态:</label>
            <div class="layui-input-inline">
              <select name="">
                <option>全部</option>
                <option>待审核</option>
                <option>审核通过</option>
                <option>审核不通过</option>
              </select>
            </div>
          </div>
          <div class="layui-inline button-group">
            <button type="button" class="layui-btn" lay-submit lay-filter="tablefiledSearch">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </form>
      </div>
      <div class="col-sm-12 select-table table-striped">
        <table id="tablefiledTable"></table>
      </div>
    </div>
  </div>
  <div th:include="include :: footer"></div>
  <script th:src="@{/js/manage/tablefiledManage.js}"></script>
</body>

</html>